# Mac Store
.ds_store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
!src/shell.obj  # This line re-includes shell.obj in the src folder

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
pdr_app
